{% extends 'base.html' %}

{% block head %}
    <title>Edit Post</title>
{% endblock %}

{% block body %}
<hr>
<h2>Edit Blog Post</h2>
    <form action="/posts/edit/{{post.id}}" method="POST">
        <label for="title">Title:</label>
        <input class="form-control" type="text" id='title' name='title' placeholder="Enter Title" aria-label="Enter Title" value="{{post.title}}"/>
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" id='author' name='author' placeholder="Author Name" aria-label="Author Name" value="{{post.author}}"/>
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name="content" id="content" placeholder="Enter Content" aria-label="Enter Content" rows="3">{{post.content}}</textarea>
        
        <br>
        <input type="submit" class="btn btn-success" value="Save">
        </form>
<hr>
{% endblock %}
