{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Pawan Warole </h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to Pawan Warole's Blog Post. Here you will get all the information related to computer,technology,science and many more.
           This Blog Post Platform give you the latest and informative knowledge to get success in your path.
           All Your Doubts and Sessions will be cover helping you in enhance your knowledge.
           <p>
          <a class="btn btn-primary" href="/posts" role="button">To See My Latest Blogs &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}